@{
    ViewBag.Title = "Contact";
}
    <div class="display1">
        <img src="~/Content/img/dog-3175810.jpg" alt="cat" class="foto" />
        <div>
            <div class="container">



                <div class="palabras2">
                    <address>
                        <strong>Veterinaria TJ</strong> <br />
                        Av Castillo de Chapultepec 562<br />
                        <abbr title="Telefono">Telefono:</abbr>
                        664 607 9999
                    </address>
                    <address>
                        <strong>Atención:</strong>   <a href="">soporte@veterinariatj.com</a><br />
                    </address>

                </div>

                <p class="palabras">Para cualquier  asesoría, duda o aclaración, comunicarse con el Coordinador de Bienes y Suministros, Rodrigo Murguia.</p>
            </div>
        </div>
    </div>