@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="display1 space">
        <h1 class="display-1">Veterinaria TJ</h1>
    </div>
    <img src="~/Content/img/american-bully-2735008.jpg" alt="Concierto" class="foto" />
    <div>

        <div class="card-group">
            <div class="card">
                <img src="~/Content/img/geese-5046359.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Nuestra misión</h5>
                    <p class="card-text">Nuestra misión es ofrecer bienestar ,tanto a sus mascotas como a las familias de nuestros pacientes ,entregando servicios Médicos de gran calidad. </p>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/discus-fish-1943755.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Nuestra Visión</h5>
                    <p class="card-text">Brindarle a cada familia la oportunidad de encontrar nuestra calidad médica tan cerca como sea posible, sin importar en qué lugar se encuentre.</p>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/img/raccoon-3538081_1920.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Nuestro Objetivo</h5>
                    <p class="card-text">Entregar el mejor servicio médico veterinario a cada uno de nuestros pacientes para asegurarnos de que pasen más tiempo con ustedes, en su hogar. </p>
                </div>
            </div>
        </div>

    </div>
</div>



